# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [4]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [7]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [25]:
mun_idade = sinasc_raw[['munResNome','IDADEMAE','IDADEPAI']]
mun_idade

                    munResNome  IDADEMAE  IDADEPAI
0        Alta Floresta D'Oeste        19      26.0
1        Alta Floresta D'Oeste        29      24.0
2        Alta Floresta D'Oeste        37      32.0
3      Alto Alegre dos Parecis        30      24.0
4        Alta Floresta D'Oeste        30      27.0
...                        ...       ...       ...
27023                  Vilhena        32      35.0
27024              Chupinguaia        19       NaN
27025                  Vilhena        24      30.0
27026                  Vilhena        21      24.0
27027  Novo Horizonte do Oeste        18       NaN

[27028 rows x 3 columns]

In [26]:
mun_idade = mun_idade.dropna()
mun_idade

                    munResNome  IDADEMAE  IDADEPAI
0        Alta Floresta D'Oeste        19      26.0
1        Alta Floresta D'Oeste        29      24.0
2        Alta Floresta D'Oeste        37      32.0
3      Alto Alegre dos Parecis        30      24.0
4        Alta Floresta D'Oeste        30      27.0
...                        ...       ...       ...
27021        Colorado do Oeste        25      38.0
27022                  Vilhena        34      33.0
27023                  Vilhena        32      35.0
27025                  Vilhena        24      30.0
27026                  Vilhena        21      24.0

[7607 rows x 3 columns]

In [32]:
media_idade_munic=mun_idade.groupby('munResNome').mean()
media_idade_munic

                            IDADEMAE   IDADEPAI
munResNome
Alta Floresta D'Oeste      25.892857  29.548701
Alto Alegre dos Parecis    24.679104  29.179104
Alto Paraíso               22.833333  28.833333
Alvorada D'Oeste           26.825243  30.757282
Ariquemes                  28.133333  32.466667
Buritis                    24.750000  30.812500
Cabixi                     32.166667  34.333333
Cacaulândia                31.000000  36.333333
Cacoal                     26.978605  30.931854
Campo Novo de Rondônia     24.900000  30.500000
Candeias do Jamari         23.684211  29.894737
Castanheiras               28.071429  30.392857
Cerejeiras                 28.361111  31.652778
Chupinguaia                26.888889  29.629630
Colorado do Oeste          31.161290  34.354839
Corumbiara                 29.000000  32.470588
Costa Marques              25.250000  30.613636
Cujubim                    27.400000  31.400000
Espigão D'Oeste            26.808176  31.198113
Governador Jorge Teixeira  25.555556  29.222222
Guajará-Mirim              26.058824  30.470588
Itapuã do Oeste            31.375000  42.500000
Jaru                       28.450704  32.197183
Ji-Paraná                  27.282819  31.132239
Machadinho D'Oeste         26.048077  31.326923
Ministro Andreazza         27.890411  33.849315
Mirante da Serra           26.928571  32.154762
Monte Negro                27.642857  34.678571
Município ignorado - RO    24.000000  22.000000
Nova Brasilândia D'Oeste   27.104167  30.520833
Nova Mamoré                26.051282  31.692308
Nova União                 27.371429  31.371429
Novo Horizonte do Oeste    26.988235  31.588235
Ouro Preto do Oeste        27.109920  31.233244
Parecis                    26.973684  32.473684
Pimenta Bueno              25.449807  29.745174
Pimenteiras do Oeste       32.600000  35.600000
Porto Velho                28.355655  32.352679
Presidente Médici          26.170854  30.150754
Primavera de Rondônia      28.083333  31.888889
Rio Crespo                 26.000000  28.000000
Rolim de Moura             26.549701  30.360479
Santa Luzia D'Oeste        26.043956  30.703297
Seringueiras               25.058824  30.500000
São Felipe D'Oeste         26.979167  31.395833
São Francisco do Guaporé   26.944444  31.638889
São Miguel do Guaporé      27.469136  32.666667
Teixeirópolis              27.454545  31.500000
Theobroma                  24.916667  30.083333
Urupá                      27.116071  31.008929
Vale do Anari              27.133333  34.000000
Vale do Paraíso            25.604651  29.976744
Vilhena                    30.611765  34.152941

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [40]:
data = sinasc_raw[sinasc_raw['DTNASC'] == '2019-03-15']
data.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
509,1,2515520.0,110002,1,27,1.0,8 a 11 anos,999992.0,2.0,0.0,...,3,513,ATIVO,MUNIC,Ariquemes,Rondônia,-9.90846,-63.03327,139.0,4426.571
510,1,2515520.0,110002,1,21,1.0,8 a 11 anos,999992.0,1.0,0.0,...,5,514,ATIVO,MUNIC,Ariquemes,Rondônia,-9.90846,-63.03327,139.0,4426.571
570,1,2515504.0,110002,1,21,1.0,8 a 11 anos,999992.0,0.0,0.0,...,5,574,ATIVO,MUNIC,Ariquemes,Rondônia,-9.90846,-63.03327,139.0,4426.571
571,1,2515504.0,110002,1,39,2.0,1 a 3 anos,999992.0,1.0,1.0,...,5,575,ATIVO,MUNIC,Itapuã do Oeste,Rondônia,-9.19187,-63.18234,99.0,4081.583
623,1,2515598.0,110002,1,34,2.0,8 a 11 anos,999992.0,2.0,0.0,...,5,629,ATIVO,MUNIC,Ariquemes,Rondônia,-9.90846,-63.03327,139.0,4426.571

In [43]:
data.groupby(['ESCMAE','SEXO'])['PESO'].mean().unstack()

SEXO                Feminino    Masculino
ESCMAE
1 a 3 anos       3515.000000          NaN
12 anos ou mais  3177.500000  3534.769231
4 a 7 anos       3388.750000  3351.222222
8 a 11 anos      3259.473684  3181.272727

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [5]:
sinasc_raw['munResNome'].value_counts()

Porto Velho                  8437
Ji-Paraná                    2182
Ariquemes                    1729
Vilhena                      1590
Cacoal                       1374
Rolim de Moura                927
Jaru                          881
Guajará-Mirim                 781
Ouro Preto do Oeste           631
Pimenta Bueno                 616
Buritis                       583
Machadinho D'Oeste            500
Espigão D'Oeste               450
Nova Mamoré                   432
Alta Floresta D'Oeste         367
São Miguel do Guaporé         353
Candeias do Jamari            337
Presidente Médici             304
São Francisco do Guaporé      303
Nova Brasilândia D'Oeste      261
Cerejeiras                    237
Costa Marques                 233
Alto Paraíso                  226
Colorado do Oeste             214
Alvorada D'Oeste              205
Cujubim                       205
Monte Negro                   199
Urupá                         170
Seringueiras                  168
Campo Novo de Rondônia        166
Mirante da Serra              164
Chupinguaia                   162
Alto Alegre dos Parecis       154
Corumbiara                    127
Governador Jorge Teixeira     112
Itapuã do Oeste               109
Nova União                    104
Santa Luzia D'Oeste            99
Novo Horizonte do Oeste        98
Theobroma                      97
Vale do Anari                  93
Ministro Andreazza             84
Vale do Paraíso                81
Cabixi                         80
Cacaulândia                    75
Teixeirópolis                  64
São Felipe D'Oeste             54
Rio Crespo                     50
Parecis                        44
Primavera de Rondônia          43
Pimenteiras do Oeste           40
Castanheiras                   32
Município ignorado - RO         1
Name: munResNome, dtype: int64

Município de Castanheiras teve menos ocorrências.

In [15]:
#idade media das mães no município de Castanheiras.
media = sinasc_raw[sinasc_raw['munResNome'] == 'Castanheiras']['IDADEMAE'].mean()
print("Idade média em Castanheira:",media)
#idade mínima das mães no município de Castanheiras.
minima = sinasc_raw[sinasc_raw['munResNome'] == 'Castanheiras']['IDADEMAE'].min()
print("Idade minima em Castanheira:",minima)
maxima = sinasc_raw[sinasc_raw['munResNome'] == 'Castanheiras']['IDADEMAE'].max()
print("Idade máxima em Castanheira:",maxima)

Idade média em Castanheira: 27.28125
Idade minima em Castanheira: 17
Idade máxima em Castanheira: 39

No Munícipio de Castanheiras as idades das mães possuiem uma grande amplitude.

In [16]:
#idade media das mães no município de Castanheiras.
media = sinasc_raw[sinasc_raw['munResNome'] == 'Castanheiras']['IDADEPAI'].mean()
print("Idade média em Castanheira:",media)
#idade mínima das mães no município de Castanheiras.
minima = sinasc_raw[sinasc_raw['munResNome'] == 'Castanheiras']['IDADEPAI'].min()
print("Idade minima em Castanheira:",minima)
maxima = sinasc_raw[sinasc_raw['munResNome'] == 'Castanheiras']['IDADEPAI'].max()
print("Idade máxima em Castanheira:",maxima)

Idade média em Castanheira: 30.392857142857142
Idade minima em Castanheira: 17.0
Idade máxima em Castanheira: 43.0

A amplitude das idades dos pais é maior que amplitude na idade das mães. Percebe-se também que existem muitos pais com idade maior que a das mães de acordo com a média das idades.

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [43]:
mun = sinasc_raw[['munResNome','DTNASC','QTDFILVIVO','IDADEMAE','IDADEPAI']]
mun

                    munResNome      DTNASC  QTDFILVIVO  IDADEMAE  IDADEPAI
0        Alta Floresta D'Oeste  2019-02-19         0.0        19      26.0
1        Alta Floresta D'Oeste  2019-02-21         1.0        29      24.0
2        Alta Floresta D'Oeste  2019-02-25         2.0        37      32.0
3      Alto Alegre dos Parecis  2019-03-20         0.0        30      24.0
4        Alta Floresta D'Oeste  2019-03-23         1.0        30      27.0
...                        ...         ...         ...       ...       ...
27023                  Vilhena  2019-12-13         1.0        32      35.0
27024              Chupinguaia  2019-10-04         0.0        19       NaN
27025                  Vilhena  2019-08-02         0.0        24      30.0
27026                  Vilhena  2019-12-23         1.0        21      24.0
27027  Novo Horizonte do Oeste  2019-12-27         1.0        18       NaN

[27028 rows x 5 columns]

In [44]:
data1 = pd.to_datetime(mun['DTNASC'])
mun['mês'] = pd.DataFrame(data1.dt.month)
mun

C:\Users\Samsung\AppData\Local\Temp\ipykernel_31180\2900945738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mun['mês'] = pd.DataFrame(data1.dt.month)

,munResNome,DTNASC,QTDFILVIVO,IDADEMAE,IDADEPAI,mês
0,Alta Floresta D'Oeste,2019-02-19,0.0,19,26.0,2
1,Alta Floresta D'Oeste,2019-02-21,1.0,29,24.0,2
2,Alta Floresta D'Oeste,2019-02-25,2.0,37,32.0,2
3,Alto Alegre dos Parecis,2019-03-20,0.0,30,24.0,3
4,Alta Floresta D'Oeste,2019-03-23,1.0,30,27.0,3
...,...,...,...,...,...,...
27023,Vilhena,2019-12-13,1.0,32,35.0,12
27024,Chupinguaia,2019-10-04,0.0,19,NaN,10
27025,Vilhena,2019-08-02,0.0,24,30.0,8
27026,Vilhena,2019-12-23,1.0,21,24.0,12
27027,Novo Horizonte do Oeste,2019-12-27,1.0,18,NaN,12

In [41]:
mun[mun['mês'] == 3].groupby('munResNome')['DTNASC'].count().sort_values(ascending=False)

munResNome
Porto Velho                  744
Ji-Paraná                    188
Vilhena                      148
Ariquemes                    141
Cacoal                       133
Jaru                          80
Guajará-Mirim                 75
Rolim de Moura                69
Ouro Preto do Oeste           67
Pimenta Bueno                 62
Buritis                       59
Nova Mamoré                   53
Espigão D'Oeste               44
Machadinho D'Oeste            44
São Miguel do Guaporé         41
Candeias do Jamari            33
São Francisco do Guaporé      31
Alta Floresta D'Oeste         31
Presidente Médici             29
Costa Marques                 24
Alvorada D'Oeste              22
Alto Paraíso                  22
Monte Negro                   20
Nova Brasilândia D'Oeste      20
Colorado do Oeste             19
Seringueiras                  19
Chupinguaia                   18
Cujubim                       17
Cerejeiras                    16
Urupá                         14
Vale do Paraíso               13
Campo Novo de Rondônia        13
Corumbiara                    12
Vale do Anari                 11
Alto Alegre dos Parecis       10
Governador Jorge Teixeira     10
Cacaulândia                   10
Rio Crespo                     9
Mirante da Serra               9
Theobroma                      8
Itapuã do Oeste                8
Santa Luzia D'Oeste            7
Nova União                     7
Cabixi                         6
Parecis                        6
Ministro Andreazza             6
Pimenteiras do Oeste           6
Primavera de Rondônia          5
São Felipe D'Oeste             5
Novo Horizonte do Oeste        5
Castanheiras                   4
Teixeirópolis                  3
Name: DTNASC, dtype: int64

O município de Porto Velho possui o maior números de nascimento no mês de março.

In [54]:
media_filho_vivo = mun[mun['munResNome'] == 'Porto Velho']['QTDFILVIVO'].mean()
print(media_filho_vivo)
minimo_filho_vivo = mun[mun['munResNome'] == 'Porto Velho']['QTDFILVIVO'].min()
print(minimo_filho_vivo)
maximo_filho_vivo = mun[mun['munResNome'] == 'Porto Velho']['QTDFILVIVO'].max()
print(maximo_filho_vivo)

1.1672359611968848
0.0
12.0

In [56]:
media_idade_pai = mun[mun['munResNome'] == 'Porto Velho']['IDADEPAI'].mean()
print(media_idade_pai)
minimo_idade_pai = mun[mun['munResNome'] == 'Porto Velho']['IDADEPAI'].min()
print(minimo_idade_pai)
maximo_idade_pai = mun[mun['munResNome'] == 'Porto Velho']['IDADEPAI'].max()
print(maximo_idade_pai)

32.35267857142857
16.0
65.0

A amplitude da idade dos pais nesse municipio é maior que no município de Castanheira. A media das idades também é maior e isso 
se deve ao fato de que nesse lugar há homens mais velhos registrados como pais.

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

In [6]:
sinasc_raw.dtypes

ORIGEM          int64
CODESTAB      float64
CODMUNNASC      int64
LOCNASC         int64
IDADEMAE        int64
               ...
munResUf       object
munResLat     float64
munResLon     float64
munResAlt     float64
munResArea    float64
Length: 69, dtype: object

In [7]:
sinasc_raw.select_dtypes(exclude=['int64','float64'])

,ESCMAE,GESTACAO,GRAVIDEZ,PARTO,DTNASC,SEXO,RACACOR,DTCADASTRO,CODANOMAL,VERSAOSIST,DTRECEBIM,munResStatus,munResTipo,munResNome,munResUf
0,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-19,Masculino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
1,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-21,Feminino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
2,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-25,Feminino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
3,12 anos ou mais,37 a 41 semanas,Única,Cesáreo,2019-03-20,Feminino,Parda,2019-04-03,NaN,3.2.01,2019-04-09,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia
4,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-03-23,Feminino,Parda,2019-04-03,NaN,3.2.01,2019-04-09,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27023,12 anos ou mais,32 a 36 semanas,Única,Cesáreo,2019-12-13,Masculino,Branca,2020-09-28,NaN,3.2.01,2020-10-13,ATIVO,MUNIC,Vilhena,Rondônia
27024,8 a 11 anos,37 a 41 semanas,Única,Vaginal,2019-10-04,Masculino,Branca,2019-10-16,NaN,3.2.01,2019-10-21,ATIVO,MUNIC,Chupinguaia,Rondônia
27025,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-08-02,Masculino,Parda,2019-08-07,NaN,3.2.00,2019-08-07,ATIVO,MUNIC,Vilhena,Rondônia
27026,8 a 11 anos,32 a 36 semanas,Única,Vaginal,2019-12-23,Masculino,Parda,2020-01-07,NaN,3.2.00,2020-01-07,ATIVO,MUNIC,Vilhena,Rondônia
27027,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-12-27,Masculino,Parda,2020-10-15,NaN,3.2.01,2020-10-16,ATIVO,MUNIC,Novo Horizonte do Oeste,Rondônia

In [4]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')